@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400|Poppins:500');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --text: 0, 0, 0;
  --text-dim: 58, 57, 57;

  --background: 238, 244, 247;

  --primary: 69, 150, 232;
  --secondary: 150, 189, 228;
  --accent: 25, 68, 148;

  --border: 217, 217, 217;

  background-color: rgba(var(--background));
  color: rgba(var(--text));
}

.dark {
  --text: 237, 242, 247;
  --text-dim: 189, 189, 189;

  --background: 8, 14, 17;

  --primary: 23, 105, 186;
  --secondary: 27, 66, 105;
  --accent: 107, 151, 230;

  --border: 13, 27, 38;

  background-color: rgba(var(--background));
  color: rgba(var(--text));
}

body {
  overflow: hidden;
}

/* Scrollbar styles - applied to <main> */
main {
  overflow-y: auto;
  --scrollbar-width: 12px;
  --scrollbar-track-color: rgba(var(--background));
  --scrollbar-thumb-color: rgba(var(--secondary));
  --scrollbar-thumb-hover-color: rgba(var(--primary));

  /* Theme switcher transition */
  transition: background 1s;
}

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: rgba(var(--background));
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(var(--secondary));
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--primary));
}

main::-webkit-scrollbar-button {
  display: none;
}

/* Tailwind Utilities */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
  
}

/* Notes styling */

.generated-notes h1 {
  @apply text-4xl font-medium
}

.generated-notes h2 {
  @apply text-3xl font-medium my-2
}

.generated-notes h3 {
  @apply text-2xl font-medium my-2
}

.generated-notes h4 {
  @apply text-xl my-2
}

.generated-notes h5 {
  @apply text-lg my-2
}

.generated-notes p {
  @apply text-textDim
}

/* Lists */
.generated-notes ul, .generated-notes ol {
  @apply text-textDim list-disc marker:text-accent ml-8 my-1
}

/* Images */

.generated-notes img {
  @apply rounded-lg
}

/* Links */

.generated-notes a {
  @apply font-bold
}

.generated-notes a:hover {
  @apply text-accent transition-all
}