@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400|Poppins:500');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --text: 0, 0, 0;
  --text-dim: 58, 57, 57;

  --background: 238, 244, 247;

  --primary: 69, 150, 232;
  --secondary: 150, 189, 228;
  --accent: 25, 68, 148;

  --border: 217, 217, 217;

  background-color: rgba(var(--background));
  color: rgba(var(--text));
}

.dark {
  --text: 237, 242, 247;
  --text-dim: 189, 189, 189;

  --background: 8, 14, 17;

  --primary: 23, 105, 186;
  --secondary: 27, 66, 105;
  --accent: 107, 151, 230;

  --border: 13, 27, 38;

  background-color: rgba(var(--background));
  color: rgba(var(--text));
}

/* Scrollbar styles - applied to <main> */
main {
  overflow-y: auto;
  --scrollbar-width: 12px;
  --scrollbar-track-color: rgba(var(--background));
  --scrollbar-thumb-color: rgba(var(--secondary));
  --scrollbar-thumb-hover-color: rgba(var(--primary));

  /* Theme switcher transition */
  transition: background 1s;
}

main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-track {
  background: rgba(var(--background));
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(var(--secondary));
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--primary));
}

main::-webkit-scrollbar-button {
  display: none;
}